:root {
    --grey: #F4F2FF;
    --dark-grey: #B7B7B7;

    --green: #23AE00;
    --light-green: #BDFFAC;

    --light-red: #FFD2D2;

    --blue: #277FFE;
    --light-blue: #B6C6FF;
    --dark-blue: #1368E3;

    --bs: #AECFFF;
    --text: #9B9B9B;
}
